.Login {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: aliceblue;
}
.ant-page-header-heading {
  padding: 0px 24px!important;
  justify-content: center !important;
}
